*{padding: 0;margin: 0;}
body{background: rgba(204, 204, 204,0.12);}

.container{width: 100%;height:920px;}

.banner{height: 600px;background: url('../images/banner.jpg') no-repeat center top;}


















